.homepage-container{
    display: flex;
    width: 98vw;
    margin: 1rem;
}

.sidebar{
    width: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(40px);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20rem;
}

.main-content{
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(40px);
    color: black;
    padding: 20px;
    width: 80%;
    border-radius: 0px 15px 15px 0px;
}

.user-profile-image{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}


.user-profile-image img{
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tabs{
    margin-top: 1rem;
}

.tabs li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(0.8vw, 1.1vw, 1.2vw);
    padding: 20px;
    background-color: transparent; 
    color: inherit;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.tabs li:hover {
    background-color: white; 
    color: black; 
    cursor: pointer;
}

.tabs .active-tab{
    background-color: white;
    color: black;
    cursor: pointer
}


/*Nutrition Focus Page Styling*/

.nutrient{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.nutrient-focused{
    display: flex;
    align-items: center;
}

.nutrient-button-nonactive{
    background: white;
    color: black;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(3, 3, 3, 0.5);
    border-radius: 5px; 
}

.nutrient-button-active{
    background: white;
    color: black;
    box-shadow: 0 0 5px rgb(3, 3, 3, 0.5);
    padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px; 
}

.nutrient-button-active:hover , .nutrient-button-nonactive:hover{
    box-shadow: 0 0 10px rgb(3, 3, 3, 0.9);
}

.range-pointer{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(3, 3, 3, 0.5);
    margin-left: 0.2rem;
    margin-right: -0.2rem;
    margin-top: 0.6rem;
}

.edit-range-section{
    display:flex;
    align-items: center;
    background: white;
    box-shadow: 0 0 5px rgb(3, 3, 3, 0.5);
    padding: 0.5rem;
    border-radius: 5px;
}

.edit-range-section input{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    color: black;
    font-size: 1rem;
    padding: 0.2rem;
}

.edit-range-section input::placeholder{
    color: black;
}

.save-nutritionGoals{
    width: 100%;
    box-shadow: 0 0 5px rgb(3, 3, 3, 0.5);
}

.save-nutritionGoals:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgb(3, 3, 3, 0.9);
}